body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.display-table {
  display : table;
}

.fixed-table { 
  table-layout:fixed;
}

.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.top-buffer { margin-top:20px; }

#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100500;
}

#page-preloader .spinner {
    width: 120px;
    height: 120px;
    position: absolute;
    left: 50%;
    top: 30%;
    background: url('/images/spinner.gif') no-repeat 50% 50%;
    margin: -16px 0 0 -16px;
}